db:
  hostname: localhost
  port: 27017
  database: instagram
  collection: nonfood
instagram:
  tags:
    - birthday
    - red
    - workout
    - sweet
    - wedding
    - blackandwhite
    - instalove
    - fit
    - instasize
    - flowers
    - iphonesia
    - tweetgram
    - design
    - instafollow
    - my
    - webstagram
    - followback
    - christmas
    - work
    - blue
    - instacool
    - work
    - blue
    - pink
    - black
    - gym
    - motivation
    - yummy
    - healthy
    - instacool
    - hot
    - iphoneonly
    - instapic
    - funny
    - instagram
    - night
    - baby
    - ootd
    - makeup
    - cat
    - girls
    - cool
    - lol
    - party
    - tflers
    - hair
    - photo
    - sunset
    - vsco
    - dog
    - lfl
    - pretty
    - f4f
    - travel
    - sky
    - music
    - swag
    - followforfollow
    - beach
    - beauty
    - sun
    - vscocam
    - bestoftheday
    - fitness
    - life
    - amazing
    - follow4follow
    - nofilter
    - style
    - instagood
    - nature
    - likeforlike
    - family
    - art
    - instalike
    - igers
    - repost
    - smile
    - tagforlikes
    - fun
    - girl
    - instadaily
    - friends
    - summer
    - picoftheday
    - selfie
    - follow
    - followme
    - fashion
    - happy
    - me
    - cute
    - beautiful
    - tbt
    - photooftheday
    - instagood
    - love
  excluded:
    - food
    - foodporn
    - instafood